.agregar-imagenes{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.agregar-imagenes form{
    position: relative;
    width: 25%;
    height: 35%;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 153, 0);
    min-width: 290px;
    min-height: 200px;
}
.agregar-imagenes-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.agregar-imagenes-div label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 153, 0);
    color: rgb(0, 0, 0);
    font-weight: 500;
    
}

.agregar-imagenes-div label:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 153, 0);
}
.agregar-imagenes-div input{
    display: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: red;
}

.agregar-imagenes h3{
    border-bottom:1px solid rgb(255, 153, 0);
    position: absolute;
    text-align: center;
 
    width: 100%;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 20px;
    color: rgb(255, 153, 0);
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}
.agregar-imagenes button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 153, 0);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.agregar-imagenes button:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 153, 0);
}
.agregar-imagenes-strong{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.7;
    color: rgb(255, 153, 0);
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(255, 153, 0);
}