.pantoneweb-header {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoPantone{
    width: 90%;
    height: 400px;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
}


