.postSubidaFotos-div{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    animation: aparecer 1s forwards;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



.postSubidaFotos-div-div{
    width: 50%;
    height: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.postSubidaFotos-div h3{

    font-family: raleway, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.postSubidaFotos-div button{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: raleway, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.postSubidaFotos-div button:hover{
    cursor: pointer;
    border: none;
    opacity: 0.7;
}